<div class="container mt-4">
  <div class="piloti-container" *ngFor="let f of francesi"> QUA CI SONO 1
      <div class="pilota">
          <img src={{f.pathImmagine}} alt="Nome Pilota">
          <h5 class="mt-3">{{f.nome}}</h5>
          <p class="mb-2">Altezza: {{f.altezza}} cm</p>
          <p class="mb-2">Peso: {{f.peso}} kg</p>
      </div>
  </div>
</div>

<br>
<div class="container mt-4">
  <div class="piloti-container" *ngFor="let s of spagnoli"> QUA CI SONO 2
      <div class="pilota">
          <img src={{s.pathImmagine}} alt="Nome Pilota">
          <h5 class="mt-3">{{s.nome}}</h5>
          <p class="mb-2">Altezza: {{s.altezza}} cm</p>
          <p class="mb-2">Peso: {{s.peso}} kg</p>
      </div>
  </div>
</div>

<br>
<div class="container mt-4">
  <div class="piloti-container" *ngFor="let i of italiani"> QUA CI SONO 3
      <div class="pilota">
          <img src={{i.pathImmagine}} alt="Nome Pilota">
          <h5 class="mt-3">{{i.nome}}</h5>
          <p class="mb-2">Altezza: {{i.altezza}} cm</p>
          <p class="mb-2">Peso: {{i.peso}} kg</p>
      </div>
  </div>
</div>